* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8 rem;
  line-height: 1.5;
  color: #4f4f4f;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 3px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

section,
footer {
  padding: 4% 0;
}

/* a {
  text-decoration: none;
  letter-spacing: 3px;
  color: #4f4f4f;
  font-family: "Open Sans", sans-serif;
  font-size: 2.2rem;
} */

/* Header Styles */

/* header nav {
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  position: fixed;
  margin-top: 1%; */

header {
  background: rgb(32, 31, 31);
  color: white;
  position: fixed;
  width: 100%;
  opacity: 70%;
  align-items: center;
  z-index: 1000;
  transition: 250ms ease-in-out;
  /* letter-spacing: 1px; */
}

header:hover {
  opacity: 85%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3%;
  width: 95%;
  align-items: center;
  height: 60px;
  /* letter-spacing: 1px; */
}

nav h3 {
  font-family: "Dancing Script", cursive;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.8rem;
  color: white;
  font-family: "PT Sans", sans-serif;
  transition: 250ms ease-in-out;
}

a:hover {
  color: darkgrey;
  transform: scale(1.1);
}

/* .links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */

.pics {
  width: 20%;
  border-radius: 50%;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  color: white;
  border: 5px solid black;
  font-style: italic;
  background-color: lightblue;
}

h2 {
  display: flex;
  text-align: center;
  /*color: darkblue;
  background-color: white;
  opacity: 90%;*/
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2%;
  flex-direction: column;
}

p {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  /*color: black;
  background-color: white;*/
  margin: 1.5%;
}

footer {
  height: 1vh;
  text-align: center;
  padding: 1%;
}

footer nav {
  margin-bottom: 2%;
  height: 2.5vh;
  text-align: center;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background-image: url("img/food.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center;
}

/* header nav a:hover {
  text-decoration: underline;
  color: grey;
} */

footer nav a:hover {
  text-decoration: underline;
  color: grey;
}

@media (max-width: 800px) {
  h1 {
    margin-top: 8%;
  }
}

@media (max-width: 500px) {
  h1 {
    margin-top: 10%;
  }
  header nav a {
    font-size: 1.5rem;
  }

  footer nav a {
    font-size: 1.5rem;
  }
}
