* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* border: 1px solid grey; */
}
/*General Styles*/
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #4f4f4f;
  font-family: sans-serif;
  background-color: #fffafa;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 1px;
  text-align: center;
}
h1 {
  font-size: 8rem;
  font-family: "Dancing Script", cursive;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}

header {
  background: rgb(32, 31, 31);
  color: white;
  position: fixed;
  width: 100%;
  opacity: 70%;
  align-items: center;
  z-index: 1000;
  transition: 250ms ease-in-out;
}

header:hover {
  opacity: 85%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3%;
  width: 95%;
  align-items: center;
  height: 60px;
}

nav h3 {
  font-family: "Dancing Script", cursive;
}

a {
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  font-family: "PT Sans", sans-serif;
  transition: 250ms ease-in-out;
}

a:hover {
  color: darkgrey;
  transform: scale(1.1);
}

.top {
  height: 45vh;
  background-image: url("../img/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.829);
}

.top h1 {
  margin-top: 5%;
}

.signup {
  margin: 130px;
}

.middle {
  background-image: url("../img/spoons.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
}

.middle-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.box {
  width: 25%;
  color: white;
  opacity: 70%;
  padding: 3%;
  background-color: rgb(32, 31, 31);
  border-radius: 0.5rem;
  margin-top: 5%;
  margin-bottom: 5%;
  transition: 250ms ease-in-out;
}

.box:hover {
  transition: 250ms;
  opacity: 85%;
  transform: scale(1.02);
}

.box h3 {
  padding: 3%;
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
}

.reviews {
  width: 100%;
  padding: 5%;
  color: white;
  background-color: rgb(32, 31, 31);
}

.reviews h2 {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
}

.background-image {
  height: 30vh;
  background-image: url("../img/spoons.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
}
.bottom-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 70px;
}

.bottom {
  width: 100%;
  margin: 2%;
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottom img {
  width: 250px;
  height: 250px;
  margin: 2%;
}
footer {
  background: rgb(32, 31, 31);
  color: white;
  width: 100%;
  align-items: center;
  background-color: black;
  height: 60px;
  opacity: 70%;
  transition: 250ms ease-in-out;
  position: absolute;
}

footer:hover {
  opacity: 85%;
}

#contact-footer {
  position: fixed;
  bottom: 0;
  display: none;
}

.contact-top {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../img/ribs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.829);
}
.contact-top h1 {
  color: black;
  opacity: 85%;
  padding-bottom: 1%;
}
.contact {
  display: flex;
  width: 50%;
  opacity: 70%;
  color: white;
  transition: 250ms ease-in-out;
}

.contact:hover {
  opacity: 90%;
  transition: 150ms;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #494949;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker color */
input[type="submit"]:hover {
  background-color: white;
  color: black;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: rgb(32, 31, 31);
  padding: 20px;
}
/* Phone */
@media (max-width: 500px) {
  .container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .top {
    display: flex;
    height: 65vh;
    flex-direction: column;
  }
  header {
    background-color: black;
    height: 160px;
    position: absolute;

    opacity: 70%;
  }

  .contact-header {
    position: fixed;
  }

  nav {
    flex-direction: column;
    /* height: vh; */
    width: 100%;
    padding: 3%;
  }

  nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    letter-spacing: 3px;
  }

  nav h3 {
    display: none;
  }
  .middle-container {
    flex-direction: column;
    width: 100%;
  }

  .middle {
    margin: 3%;
  }

  .middle .box {
    width: 95%;
    margin: 3%;
  }

  .bottom {
    display: none;
  }

  footer {
    background-color: black;
    height: 160px;
    opacity: 65%;

    position: absolute;
  }

  #contact-footer {
    display: none;
  }

  .contact {
    width: 90%;
  }
  .contact-top h1 {
    display: none;
  }
}
