* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* border: 1px solid grey; */
}
/*General Styles*/
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #4f4f4f;
  font-family: "PT Sans", sans-serif;
  background-color: #fffafa;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 3px;
  font-family: ;
  text-align: center;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}

header {
}

a {
  text-decoration: none;
  letter-spacing: 3px;
  color: #4f4f4f;
  font-family: "PT Sans", sans-serif;
}

a:hover {
  color: black;
}
